<tr>
    <td><%= own.spot %></td>
    <td><%= own.orientation %></td>
    <td><%= own.address %></td>
    <td><%= own.location %></td>
    <td><%= own.cosec %></td>
    <td><%= own.polygon %></td>
    <td><%= own.condition %></td>
    <td><%= link_to 'Show', own %></td>
    <td><%= link_to 'Edit', edit_own_path(own) %></td>
    <td><%= link_to 'Destroy', own, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>