<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <%= f.label :email, "Correo" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmación para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <%= f.label :password, "Contraseña" %> <i>(Dejar en blanco si no quiere cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <%= f.label :current_password, "Contraseña actual" %> <i>(Necesitamos su contraseña actual para efectuar los cambios.)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "btn btn-sm btn-info" %>
    <%= link_to "Atrás", :back, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Inconforme? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Esta seguro(a)?" }, method: :delete, class: "btn btn-sm btn-info" %></p>


<br><br>
