<p id="notice"><%= notice %></p>

<h1>Listing Strangenesses</h1>

<table>
  <thead>
    <tr>
      <th>Strangeness</th>
      <th>Strangeness type</th>
      <th>Strangeness mebog</th>
      <th>Strangeness fvs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strangenesses.each do |strangeness| %>
      <tr>
        <td><%= strangeness.strangeness_id %></td>
        <td><%= strangeness.strangeness_type %></td>
        <td><%= strangeness.strangeness_mebog %></td>
        <td><%= strangeness.strangeness_fvs %></td>
        <td><%= link_to 'Show', strangeness %></td>
        <td><%= link_to 'Edit', edit_strangeness_path(strangeness) %></td>
        <td><%= link_to 'Destroy', strangeness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strangeness', new_strangeness_path %>
