<p id="notice"><%= notice %></p>

<p>
  <strong>Strangeness:</strong>
  <%= @strangeness.strangeness_id %>
</p>

<p>
  <strong>Strangeness type:</strong>
  <%= @strangeness.strangeness_type %>
</p>

<p>
  <strong>Strangeness mebog:</strong>
  <%= @strangeness.strangeness_mebog %>
</p>

<p>
  <strong>Strangeness fvs:</strong>
  <%= @strangeness.strangeness_fvs %>
</p>

<%= link_to 'Edit', edit_strangeness_path(@strangeness) %> |
<%= link_to 'Back', strangenesses_path %>
