<%= form_for(@transmilenio) do |f| %>
  <% if @transmilenio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transmilenio.errors.count, "error") %> prohibited this transmilenio from being saved:</h2>

      <ul>
      <% @transmilenio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">  
        <%= f.label :spot, "Punto" %><br>
        <%= f.text_field :spot, class: "form-control"  %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">  
        <%= f.label :orientation, "Orientación" %><br>
        <%= f.text_field :orientation, class: "form-control" %>
      </div>
    </div>
   </div> 
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">  
        <%= f.label :address, "Dirección" %><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">  
        <%= f.label :location, "Localidad" %><br>
        <%= f.select :location, options_for_select([['Antonio Nariño', 'Antonio Nariño'], ['Barrios Unidos', 'Barrios Unidos'], ['Bosa', 'Bosa'], ['Chapinero', 'Chapinero'], ['Ciudad Bolívar', 'Ciudad Bolívar'], ['Engativá', 'Engativá'], ['Fontibón', 'Fontibón'], ['Kennedy', 'Kennedy'], ['La Candelaria', 'La Candelaria'], ['Los Mártires', 'Los Mártires'], ['Pte Aranda', 'Pte Aranda'], ['Rafael Uribe Uribe', 'Rafael Uribe Uribe'], ['San Cristóbal', 'San Cristóbal'], ['Santa Fe', 'Santa Fe'], ['Suba', 'Suba'], ['Sumapaz', 'Sumapaz'], ['Teusaquillo', 'Teusaquillo'], ['Tunjuelito', 'Tunjuelito'], ['Usaquén', 'Usaquén'], ['Usme', 'Usme']], @transmilenio.location), options ={:prompt => "Seleccione una localidad"}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= f.label :cosec %><br>
        <%= f.select :cosec,  options_for_select([['Chapinero', 'Chapinero'], ['Kennedy', 'Kennedy'], ['Pte Aranda', 'Pte Aranda'], ['Ciudad Bolivar', 'Ciudad Bolivar'], ['CAD', 'CAD']], @transmilenio.cosec), options ={:prompt => "Seleccione un cosec"}, class: "form-control" %>
      </div>
    </div>     
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">  
        <%= f.label :polygon, "Polígono" %><br>
        <%= f.check_box :polygon, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'SI', 'off-text'=>'NO' } %>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">  
        <%= f.label :condition, "Estado" %><br>
        <%= f.check_box :condition, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'Bien', 'off-color'=>'danger', 'off-text'=>'Mal' } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">  
        <%= f.label :lat, "Latitud" %><br>
        <%= f.text_field :lat, class: "form-control" %>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">  
        <%= f.label :lng, "Longitud" %><br>
        <%= f.text_field :lng, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-sm btn-info" %>
<% end %>
