<tr>
    <td><%= transmilenio.spot %></td>
    <td><%= transmilenio.orientation %></td>
    <td><%= transmilenio.address %></td>
    <td><%= transmilenio.location %></td>
    <td><%= transmilenio.cosec %></td>
    <td><%= transmilenio.polygon %></td>
    <td><%= transmilenio.condition %></td>
    <td><%= link_to 'Show', transmilenio %></td>
    <td><%= link_to 'Edit', edit_transmilenio_path(transmilenio) %></td>
    <td><%= link_to 'Destroy', transmilenio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>