<tr>
    <td><%= transmilenio.polygon ? poligono : no_poligono %></td>
    <td><%= transmilenio.spot %></td>
    <td><%= transmilenio.orientation %></td>
    <td><%= transmilenio.address %></td>
    <td><%= transmilenio.location %></td>
    <td><%= transmilenio.cosec %></td>
    <td class="text-center">
        <% if transmilenio.condition? %>
            <div class="col-sm-1">
                <div class="round round-sm green">
                    <%= bueno %>
                </div>
            </div>
        <% else %>
            <div class="col-sm-1">
                <div class="round round-sm red">
                    <%= malo %>
                </div>
            </div>        
        <% end %>
    </td>        
    <td>
        <%= link_to transmilenio do %>
            <i class="fa fa-search"></i>
        <% end %>
    </td>    
</tr>