<tr>
    <td><%= unit_temporal.polygon ? poligono : no_poligono %></td>
    <td><%= unit_temporal.spot %></td>
    <td><%= unit_temporal.orientation %></td>
    <td><%= unit_temporal.address %></td>
    <td><%= unit_temporal.location %></td>
    <td><%= unit_temporal.cosec %></td>
    <td class="text-center">
        <% if unit_temporal.condition? %>
            <div class="col-sm-1">
                <div class="round round-sm green">
                    <%= bueno %>
                </div>
            </div>
        <% else %>
            <div class="col-sm-1">
                <div class="round round-sm red">
                    <%= malo %>
                </div>
            </div>        
        <% end %>
    </td>        
    <td><%= link_to unit_temporal do %>
        <i class="fa fa-search"></i>
        <% end %>
    </td>
    <!-- <td><%# link_to 'Edit', edit_unit_temporal_path(unit_temporal) %></td>
    <td><%# link_to 'Destroy', unit_temporal, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>