<p id="notice"><%= notice %></p>

<p>
  <strong>Spot:</strong>
  <%= @unit_temporal.spot %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @unit_temporal.orientation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit_temporal.address %>
</p>

<p>
  <strong>Strangeness fvs:</strong>
  <%= @unit_temporal.location %>
</p>

<p>
  <strong>Strangeness mebog:</strong>
  <%= @unit_temporal.cosec %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @unit_temporal.polygon %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @unit_temporal.condition %>
</p>

<%= link_to 'Edit', edit_unit_temporal_path(@unit_temporal) %> |
<%= link_to 'Back', unit_temporals_path %>
