

<p>
  <strong>Mebog:</strong>
  <%= @event.mebog %>
</p>

<p>
  <strong>Fvs:</strong>
  <%= @event.fvs %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @event.camera %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
