
      <tr>
        <td><%= human_connection.spot %></td>
        <td><%= human_connection.orientation %></td>
        <td><%= human_connection.address %></td>
        <td><%= human_connection.strangeness_fvs %></td>
        <td><%= human_connection.strangeness_mebog %></td>
        <td><%= human_connection.polygon ? poligono : no_poligono %></td>
        <td><%= human_connection.condition ? bueno : malo %></td>
        <td><%= link_to "nuevo", new_human_connection_path %></td>
        <!-- <td><%# link_to 'Show', human_connection %></td>
        <td><%# link_to 'Edit', edit_human_connection_path(human_connection) %></td>
        <td><%# link_to 'Destroy', human_connection, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>

  