<br>
<%= link_to 'Atrás', human_connections_path, class: "btn btn-info btn-sm" %>
<%= render "layouts/inicio" %>
<br>
<hr>
<div class="table-responsive"> 
  <table class="table">
    <thead>
      <tr>
          <th>Polígono</th>
          <th>Punto</th>
          <th>Orientación</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Cosec</th>      
          <th>Condición</th>
          <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @human_connection.polygon ? poligono : no_poligono %></td>
        <td><%= @human_connection.spot %></td>
        <td><%= @human_connection.orientation %></td>
        <td><%= @human_connection.address %></td>
        <td><%= @human_connection.location %></td>
        <td><%= @human_connection.cosec %></td>
        <td class="text-center">
            <% if @human_connection.condition? %>
                <div class="col-sm-1">
                    <div class="round round-sm green">
                        <%= bueno %>
                    </div>
                </div>
            <% else %>
                <div class="col-sm-1">
                    <div class="round round-sm red">
                        <%= malo %>
                    </div>
                </div>        
            <% end %>
        </td>               
        <td><%= link_to edit_human_connection_path(@human_connection) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
        </td>          
      </tr>
    </tbody>    
  </table>
</div>
<br>
<%= link_to 'Agregar novedad', new_human_connection_event_path(@human_connection), class: "btn btn-sm btn-info" %>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Novedad MEBOG</th>
        <th>Novedad FVS</th>        
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @human_connection.events %>
    </tbody>
  </table>
</div>

<hr>
<%= link_to 'Atrás', human_connections_path, class: "btn btn-info btn-sm" %>
<%= render "layouts/inicio" %>
