<p id="notice"><%= notice %></p>
<div class="table-responsive"> <%= link_to 'Back', human_connections_path %>
  <table class="table">
    <thead>
      <tr>
        <th>Polygon</th>
        <th>Spot</th>
        <th>Orientation</th>
        <th>Location</th>
        <th>Cosec</th>
        <th>Address</th>        
        <th>Location</th>
        <th>Condition</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @human_connection.polygon %></td>
        <td><%= @human_connection.spot %></td>
        <td><%= @human_connection.orientation %></td>
        <td><%= @human_connection.address %></td>
        <td><%= human_connection.location %></td>
        <td><%= human_connection.cosec %></td>
        <td><%= @human_connection.condition %></td>            
        <td><%= link_to edit_human_connection_path(@human_connection) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
        </td>            
        <td><%= link_to 'Agregar novedad', new_human_connection_news_path(@human_connection), class: "btn btn-sm btn-primary" %></td>
      </tr>
    </tbody>    
  </table>
</div>


