<p id="notice"><%= notice %></p>

<p>
  <strong>Spot:</strong>
  <%= @human_connection.spot %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @human_connection.orientation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @human_connection.address %>
</p>

<p>
  <strong>Strangeness fvs:</strong>
  <%= @human_connection.strangeness_fvs %>
</p>

<p>
  <strong>Strangeness mebog:</strong>
  <%= @human_connection.strangeness_mebog %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @human_connection.polygon %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @human_connection.condition %>
</p>


<br>
<%= link_to 'Edit', edit_human_connection_path(@human_connection) %> |
<%= link_to 'Back', human_connections_path %>
