
      <tr>
        <td><%= leased.spot %></td>
        <td><%= leased.orientation %></td>
        <td><%= leased.address %></td>
        <td><%= leased.strangeness_fvs %></td>
        <td><%= leased.strangeness_mebog %></td>
        <td><%= leased.polygon %></td>
        <td><%= leased.condition %></td>
        <td><%= link_to 'Show', leased %></td>
        <td><%= link_to 'Edit', edit_leased_path(leased) %></td>
        <td><%= link_to 'Destroy', leased, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  