<tr>
    <td><%= leased.polygon ? poligono : no_poligono %></td>
    <td><%= leased.spot %></td>
    <td><%= leased.orientation %></td>
    <td><%= leased.address %></td>
    <td><%= leased.location %></td>
    <td><%= leased.cosec %></td>
    <td class="text-center">
        <% if leased.condition? %>
            <div class="col-sm-1">
                <div class="round round-sm green">
                    <%= bueno %>
                </div>
            </div>
        <% else %>
            <div class="col-sm-1">
                <div class="round round-sm red">
                    <%= malo %>
                </div>
            </div>        
        <% end %>
    </td>        
    <td>
        <%= link_to leased do %>
            <i class="fa fa-search"></i>
        <% end %>
    </td>
</tr>
  