<h1>Lista de cámaras arrendadas</h1>
<br> 
  <%= link_to 'Agregar cámara', new_leased_path, class: "btn btn-info btn-sm" %>
  <%= render "layouts/inicio" %>
<hr>

<%= form_tag import_leaseds_path, multipart: true do %>
<div class="form-group">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <%= file_field_tag :file, required: true, class: "btn btn-sm btn-info" %>
      <p class="help-block">Nota: El archivo debe ser .csv</p>
    </div>
    <div>
      <%= button_tag(type: 'submit', class: "btn btn-info") do %>
  
        <i class="fa fa-arrow-circle-up"></i>
      <% end %>
    </div>
  </div>
</div>  

<% end %>

<%= render "layouts/buscar" %>
<div class="row">
  <div class="col-lg-12">
    <table class="table" id="table">
      <thead>
        <tr>
          <th>Polígono</th>
          <th>Punto</th>
          <th>Orientación</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Cosec</th>      
          <th>Condición</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="searchable">
        <% @leaseds.each do |leased| %>
          <tr>
            <td><%= leased.polygon ? poligono : no_poligono %></td>
            <td><%= leased.spot %></td>
            <td><%= leased.orientation %></td>
            <td><%= leased.address %></td>
            <td><%= leased.location %></td>
            <td><%= leased.cosec %></td>            
            <td class="text-center">
              <% if leased.condition? %>
                  <div class="col-sm-1">
                      <div class="round round-sm green">
                          <%= bueno %>
                      </div>
                  </div>
              <% else %>
                  <div class="col-sm-1">
                      <div class="round round-sm red">
                          <%= malo %>
                      </div>
                  </div>        
              <% end %>
            </td>
            <td><%= link_to leased do %>
                  <i class="fa fa-search"></i>
                <% end %>
            </td>
            <td><%= link_to edit_leased_path(leased) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
            </td>
            <td><%= link_to leased, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                  <i class="fa fa-trash"></i>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Agregar cámara', new_leased_path, class: "btn btn-info btn-sm" %>
<%= render "layouts/inicio" %>