<h1 class="text-center">Listado cámaras Conexión Humana <br>(Público - Privadas)</h1>
<br> 
  <%= render "layouts/inicio" %>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">ver mapa</button>
<hr>
<%= render "layouts/buscar" %>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Polígono</th>
          <th>Punto</th>
          <th>Orientación</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Cosec</th>      
          <th>Condición</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="searchable">
        <% @conexiones.each do |camera| %>
          <tr>
            <td><%= camera.qty %></td>
            <td><%= camera.polygon ? poligono : no_poligono %></td>
            <td><%= camera.spot %></td>
            <td><%= camera.orientation %></td>
            <td><%= camera.address %></td>           
            <td><%= camera.location %></td>
            <td><%= camera.cosec %></td>
            <td><% if camera.condition? %>
                  <div class="col-sm-1">
                      <div class="round round-sm green">
                          <%= bueno %>
                      </div>
                  </div>
                <% else %>
                  <div class="col-sm-1">
                      <div class="round round-sm red">
                          <%= malo %>
                      </div>
                  </div>        
                <% end %>
            </td>           
            <td><%= link_to camera do %>
                <i class="fa fa-search"></i>
                <% end %>
            </td>
            <td><%= link_to edit_camera_path(camera) do %>
                <i class="fa fa-pencil"></i>
                <% end %>
            </td>
            <td><%= link_to camera, method: :delete, data: { confirm: 'Está seguro?' }  do %>
                <span><i class="fa fa-trash btn-danger"></i></span>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
</table>
<br>
<div class="text-center">
  <%# paginate @conexiones, :theme => 'twitter-bootstrap-3',
                         :pagination_class => "pagination-sm pagination-centered" %>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="mapa-completo" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="capture" class="pull-right" style="padding-right: 20px; margin-top: 20px;"></div>
        <div id="map-canvas" ></div>
    </div>

  </div>
</div>

<!--script map -->
<script>
  var map;
  var src = 'https://www.dropbox.com/s/cm2hhgk46hsyjm5/doc.kml?dl=1';

  function initialize() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: new google.maps.LatLng(-19.257753, 146.823688),
      zoom: 2,
      draggable: true,      
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });
    loadKmlLayer(src, map);
  }

  function loadKmlLayer(src, map) {
    var kmlLayer = new google.maps.KmlLayer(src, {
      suppressInfoWindows: true,
      preserveViewport: false,
      map: map
    });
    google.maps.event.addListener(kmlLayer, 'click', function(event) {
      var content = event.featureData.infoWindowHtml;
      var testimonial = document.getElementById('capture');
      testimonial.innerHTML = content;
    });
  }
  
  
  $('#mapa-completo').on('shown.bs.modal', initialize);
  $(document).ready(initialize);
</script>