<h3><p>Cámara perteneciente a: <strong><%= proyecto @camera.project %></strong></p></h3>
<br>
<%= link_to 'Atrás', ruta_atras(@camera.project), class: "btn btn-info btn-sm" %> <%= link_to root_path, class: "btn btn-primary btn-sm pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br><br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Polígono</th>
        <th>Punto</th>
        <th>Orientación</th>
        <th>Dirección</th>
        <th>Localidad</th>
        <th>Cosec</th>
        <th>Estado</th>
        <th colspan="2"></th>
      </tr>
        <tbody>
          <tr>
            <td><%= @camera.qty %></td>
            <td><%= @camera.polygon ? poligono : no_poligono %></td>
            <td><%= @camera.spot %></td>
            <td><%= @camera.orientation %></td>
            <td><%= @camera.address %></td>
            <td><%= @camera.location %></td>
            <td><%= @camera.cosec %></td>
            <td><% if @camera.condition? %>
                  <div class="col-sm-1">
                      <div class="round round-sm green">
                          <%= bueno %>
                      </div>
                  </div>
                <% else %>
                  <div class="col-sm-1">
                      <div class="round round-sm red">
                          <%= malo %>
                      </div>
                  </div>        
                <% end %>
            </td>
            <td class="text-center"><a href="#" id="ubicacion"><i class="fa fa-map-marker"></i></a></td>
            <td><%= link_to edit_camera_path(@camera) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
            </td>
          </tr>
        </tbody>      
    </thead>
  </table>
</div>

<br>

<div class="panel panel-info">
  <div class="panel-heading">
    <br>
    <h3 class="panel-title">
      <%= link_to new_camera_event_path(@camera), class: "pull-right" do %>
        <i class="fa fa-plus"></i> 
      <% end %>
    <a href="#" data-toggle="collapse" data-target="#Acordeon" aria-expanded="false" aria-controls="Acordeon"><strong>Novedades</strong></a>
    </h3> 
    <br>      
  </div>
  <div class="panel-body">
    <div class="collapse" id="Acordeon">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Novedad Mebog</th>
              <th>Novedad FVS</th>              
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @camera.events %>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Mapa -->
<% if @camera.lat.present? %>  
  <center>
    <div class="mapa">
      <div id="map-canvas"></div>
    </div>    
  </center>
<% end %>
<br>

<%= link_to 'Atrás', ruta_atras(@camera.project), class: "btn btn-info btn-sm" %> <%= link_to root_path, class: "btn btn-primary btn-sm pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>

<br><br>

<!--script map -->
<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @camera.lat %>, <%= @camera.lng %>);
    var mapOptions = {
      zoom: 15,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Cámara'
    });
  }

  $('#ubicacion').click(function(){
    $('.mapa').slideToggle('slow');
  });
  
  $(document).on('page:load', initialize);
  $(document).ready(initialize);
</script>

