<tr>
    <td><%= school.spot %></td>
    <td><%= school.orientation %></td>
    <td><%= school.address %></td>
    <td><%= school.strangeness_fvs %></td>
    <td><%= school.strangeness_mebog %></td>
    <td><%= school.polygon %></td>
    <td><%= school.condition %></td>
    <td><%= link_to 'Show', school %></td>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>