<tr>
    <td><%= school.polygon ? poligono : no_poligono %></td>
    <td><%= school.spot %></td>
    <td><%= school.orientation %></td>
    <td><%= school.address %></td>
    <td><%= school.location %></td>
    <td><%= school.cosec %></td>
    <td class="text-center">
        <% if school.condition? %>
            <div class="col-sm-1">
                <div class="round round-sm green">
                    <%= bueno %>
                </div>
            </div>
        <% else %>
            <div class="col-sm-1">
                <div class="round round-sm red">
                    <%= malo %>
                </div>
            </div>        
        <% end %>
    </td>        
    <td>
        <%= link_to school do %>
            <i class="fa fa-search"></i>
        <% end %>
    </td>    
</tr>