<br>
<%= link_to 'Atrás', schools_path, class: "btn btn-info btn-sm" %>
<%= render "layouts/inicio" %>
<br>
<hr>
<div class="table-responsive"> 
  <table class="table">
    <thead>
      <tr>
          <th>Polígono</th>
          <th>Punto</th>
          <th>Orientación</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Cosec</th>      
          <th>Condición</th>
          <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @school.polygon ? poligono : no_poligono %></td>
        <td><%= @school.spot %></td>
        <td><%= @school.orientation %></td>
        <td><%= @school.address %></td>
        <td><%= @school.location %></td>
        <td><%= @school.cosec %></td>
        <td class="text-center">
          <% if @school.condition? %>
              <div class="col-sm-1">
                  <div class="round round-sm green">
                      <%= bueno %>
                  </div>
              </div>
          <% else %>
              <div class="col-sm-1">
                  <div class="round round-sm red">
                      <%= malo %>
                  </div>
              </div>        
          <% end %>
        </td>
        <td><%= link_to edit_school_path(@school) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
        </td>
      </tr>
    </tbody>    
  </table>
</div>
<br>
<%= link_to 'Agregar novedad', new_school_event_path(@school), class: "btn btn-sm btn-info" %>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Novedad MEBOG</th>
        <th>Novedad FVS</th>        
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @school.events %>
    </tbody>
  </table>
</div>
<hr>
<%= link_to 'Atrás', schools_path, class: "btn btn-info btn-sm" %>
<%= render "layouts/inicio" %>
