<h4>Cámaras por COSEC</h4>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In animi ratione, ipsam deleniti ipsum enim inventore dicta mollitia voluptas perferendis, sit perspiciatis laudantium eum praesentium maiores ducimus id deserunt vitae.</p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myCosec">
  Ver reporte
</button>

<div class="modal fade" id="myCosec" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reporte cámaras por COSEC</h4>
      </div>
      <div class="modal-body">
      	
				<div class="table-responsive" >
			    <table class="table table-striped">
						<thead>
							<tr>
								<th></th>					
								<% @total_cosec.each do |total, v| %>
								<th><%= total  %></th>
								<% end %>					
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CONEXIÓN HUMANA</td>							
									<% @hc_cosec.each do |conexion, v| %>									
									<td><%= v %></td>											
									<% end %>			
							</tr>
							<!-- <tr>
								<td>PROPIAS</td>
									<%# @o_cosec.each do |propia,v| %>
										<td><%# propia %></td>
									<%# end %>	
							</tr>
							<tr>
								<td>ARRENDADAS</td>
								<%# @l_cosec.each do |arrendada,v| %>
									<td><%# arrendada %></td>
								<%# end %>					
							</tr>
							<tr>
								<td>COLEGIOS</td>
								<%# @s_cosec.each do |colegio,v| %>
								<td><%# colegio %></td>
								<%# end %>					
							</tr>	
							<tr>
								<td>TRANSMILENIO</td>
								<%# @t_cosec.each do |transmi,v| %>
								<td><%# transmi %></td>
								<%# end %>					
							</tr>
							<tr>
								<td>UTE</td>
								<%# @u_cosec.each do |ute,v| %>
								<td><%# ute %></td>
								<%# end %>					
							</tr> -->
							<tr>
								<td><strong>Total</strong></td>
								<% @total_cosec.each do |total, v| %>
								<td><%= v  %></td>
								<% end %>											
							</tr>			
						</tbody>
					</table>
				</div>

				<br>
			  <div id="cosec" style="margin-left: 40px;" class="row">
			  	<div class="col-xs-3 col-sm-3 col-md-4">
						<%= pie_chart Camera.group(:cosec).sum(:qty) %>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-4">
						<%= bar_chart Camera.group(:cosec).sum(:qty) %>
					</div>			  	
			  </div>
			  
      </div>
    </div>
  </div>
</div>






				