<% content_for :reports do %>
	<script>
    var Chartkick = {"language": "es"};
  </script>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<!-- ////////////////////////////////////////////////////////////////////////////////////////-->
	
	<div class="container">
		<h1>Reportes</h1>
		<br>
		
		<%= render "poligono" %> 		

		<hr>
		
		<%= render "localidad" %>

		<hr>
		
		<%= render 'cantidad' %>

		<hr>
		
		<%= render 'cosec' %>		

		<hr>
		
		<%= render 'condicion' %>	

	</div>
	<br>
	<br>
<% end %>

