<div class="row">
	<div class="col-md-3 col-lg-3">
		
	</div>
	<div class="col-md-9 col-lg-9">
		<div class="row text-center">
			<h1>Reportes</h1>
		</div>
		<div class="row">
			<div>
				
			</div>
		</div>		
	</div>
</div>





<table>
	<tbody>
		<tr></tr>
		<tr>
			<td>CONEXIÓN HUMANA</td>
			<td><%= @conexion %></td>
		</tr>
		<tr>
			<td>PROPIAS</td>
			<td><%= @propia %></td>
		</tr>
		<tr>
			<td>ARRENDADAS</td>
			<td><%= @arriendo %></td>
		</tr>		
		<tr>
			<td>COLEGIOS</td>
			<td><%= @colegio %></td>
		</tr>
		<tr>
			<td>TRANSMILENIO</td>
			<td><%= @transmi %></td>
		</tr>
		<tr>
			<td>UTE</td>
			<td><%= @ute %></td>
		</tr>	
		<tr>
			<td>total</td>
			<td><%= @total_pol %></td>
		</tr>		
	</tbody>
</table>
<br>
ESTADO
<%= @hc_bien %> <%= @hc_mal %>
<%= @o_bien %> <%= @o_mal %>
<%= @l_bien %> <%= @l_mal %>
<%= @s_bien %> <%= @s_mal %>
<%= @t_bien %> <%= @t_mal %>
<%= @u_bien %> <%= @u_mal %>

<br>
CANTIDAD
<%= @hc_cantidad %>
<%= @l_cantidad %>
<%= @o_cantidad %>
<%= @s_cantidad %>
<%= @u_cantidad %>
<%= @t_cantidad %>
<%= @total_cam %>
<br>
COSEC
<%= @hc_cosec %>
<%= @o_cosec %>
<%= @l_cosec %>
<%= @s_cosec %>
<%= @t_cosec %>
<%= @u_cosec %>
<%= @total_cosec %>
<br>
LOCALIDAD
<%= @hc_localidad %>
<%= @o_localidad %>
<%= @l_localidad %>
<%= @s_localidad %>
<%= @t_localidad %>
<%= @u_localidad %>
<%= @total_loc %>