<!DOCTYPE html>
<html>
<head>
  <title>FVS</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <div class="navbar navbar-primary">
    <h3>Espacio para logo, botones de gestión de cuenta de usuario</h3>
    <% flash.each do |type, content| %>
    <% if content.respond_to?('each') 
      content.each do |item| %>
        <%= render 'layouts/alert', type: type, content: item %>
      <% end %>
      <% else %>
        <%= render 'layouts/alert', type: type, content: content %>
      <% end %>
    <% end %>
  </div>
  
     
  
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
